@model dt191g_projekt.Models.Post

@{
    ViewData["Title"] = "Radera nyhet";
}

<h1>@ViewData["Title"]</h1>

<h2 class="font-bold">Är du säker på att du vill radera nyheten?</h2>
<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd>
            <a href="~/images/@Model.ImageName" target="_blank">
                <img class="news-image" src="~/images/@Model.ImageName" alt="@Model.ImageName">
            </a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @{
                var categoryName = Model.Category?.Name;
                if (!string.IsNullOrEmpty(categoryName))
                {
                    @categoryName
                }
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>

    <form asp-action="Delete" class="my-6">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera nyhet" class="btn-styling max-w-full md:max-w-md" />
        <a class="link-styling block w-fit" asp-action="Index">Tillbaka</a>
    </form>
</div>
