@model dt191g_projekt.Models.Post

@{
    ViewData["Title"] = "Detaljer";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h2>@Model.Title</h2>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd>
            <a href="~/images/@Model.ImageName" target="_blank">
                <img src="~/images/@Model.ImageName" alt="@Model.ImageName" width="300px">
            </a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @{
                var categoryName = Model.Category?.Name;
                if (!string.IsNullOrEmpty(categoryName))
                {
                    @categoryName
                }
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
<div class="my-8">
    <a class="link-styling" asp-action="Edit" asp-route-id="@Model?.Id">Ändra</a> |
    <a class="link-styling" asp-action="Index">Tillbaka</a>
</div>
