@model IEnumerable<dt191g_projekt.Models.Post>

@{
    ViewData["Title"] = "Nyheter Administration";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="link-styling" asp-action="Create">Skapa nyhet</a>
</p>
<div class="overflow-x-auto">
    <table>
        <thead>
            <tr>
                <th class="w-[150px]">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th class="w-[150px]">
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageName)
                </th>
                <th class="w-[150px]">
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="w-full">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @if (item.Content?.Length > 40)
                        {
                            @Html.Raw(Html.Encode(item.Content.Substring(0, 40)) + "...")
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Content)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @* Display image *@
                        @if (!string.IsNullOrEmpty(item.ImageName))
                        {
                            <a href="images/@Html.DisplayFor(modelItem => item.ImageName)" target="_blank">
                                <img src="images/@Html.DisplayFor(modelItem => item.ImageName)" alt="@item.ImageName"
                                    width="200px">
                            </a>
                        }
                        else
                        {
                            <p>-</p>
                        }
                    </td>
                    <td>
                        @if (item.Category != null)
                        {
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        }
                    </td>
                    <td class="text-right">
                        <a class="link-styling" asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
                        <a class="link-styling" asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                        <a class="link-styling" asp-action="Delete" asp-route-id="@item.Id">Radera</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>