@model IEnumerable<dt191g_projekt.Models.Category>

@{
    ViewData["Title"] = "Kategorier Administration";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="link-styling" asp-action="Create">Skapa kategori</a>
</p>
<div class="overflow-x-auto">
    <table class="w-full">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="text-right">
                        <a class="link-styling" asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
                        <a class="link-styling" asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                        <a class="link-styling" asp-action="Delete" asp-route-id="@item.Id">Radera</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>