@model IEnumerable<dt191g_projekt.Models.Post>

@{
    ViewData["Title"] = "Start";
    var culture = new System.Globalization.CultureInfo("sv-SE");
}

<div class="text-left md:text-center">
    <h1 class="md:text-center">Välkommen till Prism ScienceHub</h1>
    <h2>Läs de senaste nyheterna från vetenskapsvärlden.</h2>
</div>

<hr class="mt-8">

<section id="home-section">
    @if (Model.Any())
    {
        @foreach (var post in Model)
        {
            <div class="home-article">
                <a class="w-fit" title="@post.Title" asp-controller="Home" asp-action="Details" asp-route-id="@post.Id">
                    <div class="relative w-full">
                        @if (!string.IsNullOrEmpty(post.ImageName))
                        {
                            <img src="images/@Html.DisplayFor(modelItem => post.ImageName)" alt="@post.ImageName">
                        }
                    </div>
                </a>
                <div class="col-start-2">
                    <a title="@post.Title" asp-controller="Home" asp-action="Details" asp-route-id="@post.Id">
                        <span class="uppercase text-xs font-bold tracking-tighter opacity-80 text-mainColor">
                            @if (post.Category != null)
                            {
                                @Html.DisplayFor(modelItem => post.Category.Name)

                            }
                        </span>
                        <h3 class="font-bold font-heading hover:underline w-fit">@Html.DisplayFor(modelItem => post.Title)
                        </h3>
                    </a>
                    <p class="content-text">@if (post.Content?.Length > 125) 
                        {
                            @Html.Raw(Html.Encode(post.Content.Substring(0, 125)) + "...")
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => post.Content)
                        }</p>
                    <div class="mt-4">
                        <p class="text-xs font-semibold">Av @Html.DisplayFor(modelItem => post.CreatedBy) -
                            @post.CreatedDate.ToString("d MMMM, yyyy", culture)</p>
                    </div>
                </div>
            </div>
        }
    }
</section>